* {
    padding: 0;
    margin: 0;
}

:root {
    --text-color: #303030;
    --background-color:  #d1d1d1;
    --socials-color: #bdbdbd;
    --socials-hover-color: #797979;
    --socials-shadow: rgba(0, 0, 0, 0.534);
    --footer-color: #b4b4b483;
    --nav-color: rgb(226, 226, 226);
    --darkmode-button: #474747; 
    --darkmode-icon: #cacaca;
    --darkmode-shadow: rgb(0, 0, 0);
}

.darkmode {
    --text-color: #979797;
    --background-color:  #1b1b1b;
    --socials-color: #444;
    --socials-hover-color: #585858;
    --socials-shadow: rgba(255, 255, 255, 0.683);
    --footer-color: rgb(43, 42, 42);
    --nav-color: rgb(226, 226, 226);
    --darkmode-button: #a8a8a8;
    --darkmode-icon: #414141;
    --darkmode-shadow: rgb(255, 255, 255);
}

body {
    background-color: var(--background-color);
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    font-size: 20px;
    transition: background-color 0.5s ease, color 0.5s ease
}

ul {
    list-style-position: inside;
}

html::-webkit-scrollbar {
    width: 0.5vw;
}

html::-webkit-scrollbar-thumb {
    background-color: rgb(170, 170, 170);
    border-radius: 100px;
}

html::-webkit-scrollbar-track {
    background-color: rgb(61, 61, 61);
    opacity: 0;
}

html.darkmode, body.darkmode {
    background-color: var(--background-color); /* Ensure dark background is applied */
    color: var(--text-color);
}


a {
    text-decoration: none;
    cursor: pointer;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
    color: rgb(0, 153, 255);
}

header {
    text-align: left;
    padding: 1rem 15rem;
    background: linear-gradient(15deg, rgba(149, 0, 255, 1) 5%, rgba(255, 0, 0, 1) 95%);
    font-weight: bold;
}

footer {
    color: var(--text-color);
    text-align: center;
    padding: 2rem;
    background-color: var(--footer-color);
    position: sticky;
    top: 100%;
}

footer img {
    width: auto;
    height: 32px;
    margin: 2px;
}

footer li {
    display: inline;
}

.container {
    color: var(--text-color);
    padding: 0.5rem 10rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.theme-switch {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    padding: 0;
    right: 1rem;
    bottom: 1rem;
    margin: 1rem;
    border: 0px solid var(--darkmode-icon);
    background-color: var(--darkmode-button);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    box-shadow: 0 0 20px var(--darkmode-shadow);
    transition: box-shadow 0.5s ease, background-color 0.3s ease, transform 0.3s ease;
}

.theme-switch:hover {
    box-shadow: 0px 0px 75px var(--darkmode-shadow);
    transform: scale(1.5);
}

.system-theme {
    display: none;
}


.theme-switch svg {
    fill: var(--darkmode-icon);
}

.theme-switch svg:last-child {
    display: none;
}

.darkmode .theme-switch svg:first-child {
    display: none;
}

.darkmode .theme-switch svg:last-child {
    display: block;
}

.banner-container {
    display: flex;
    justify-content: center;
    margin: 3rem 1rem;
}

.Banner {

    width: 512px;
    height: 96px;
    object-fit: cover;
    border-radius: 20px;
    pointer-events: none;
    margin: 1rem;
}

.long_logo {
    height: auto;
    width: 350px;
    pointer-events: none;
}

.pfp-container {
    display: flex;
    justify-content: center;
}

.pfp {
    width: auto;
    height: 128px;
    border-radius: 100%;
    pointer-events: none;
    margin: 3rem 1rem;
}

.nav li {
    display: inline;
}

.nav a {
    padding: 1rem 1rem;
    text-decoration: underline;
    color: var(--nav-color);
    border-radius: 25px;
}

.nav a:hover {
    background-color: #00000021;
    color: rgb(0, 225, 255);
    border-radius: 25px;
}

.ip {
    color: #007bff;
}

.socials {
    text-align: center;
    list-style: none;
    padding: 5rem 1rem;
}

.social-page-icons img {
    background-color: var(--socials-color);
    border-radius: 20%;
    padding: 25px;
    margin: 25px 30px;
    height: 150px;
    width: 150px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.social-page-icons img:hover {
    transform: scale(1.3);
    box-shadow: 0 0 20px 10px var(--socials-shadow);
    background-color: var(--socials-color);
}

.main {
    margin: 1rem 5rem;
    width: 100%;
    flex: 1;
}

.discord {
    margin: 5rem;
    width: 100%;
    flex: 1;
}

.discordinvite {
    display: inline;
    border-radius: 25px;
    padding: 1rem;
    color: #f7f7f7;
    background: linear-gradient(90deg, #9d00ff, #ff0000, #9d00ff);
    background-size: 200% 200%;
    box-shadow: 0 0 20px 5px var(--socials-shadow);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    animation: gradient-shift 1s ease-in-out alternate infinite;
}

.discordinvite:hover {
    text-decoration: none;
    color: #ededed;
    box-shadow: 0 0 20px 15px var(--socials-shadow);
}

@keyframes gradient-shift {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.privacy-policy {
    margin: 2rem;
    width: 100%;
    flex: 1;
}

.terms-of-service {
    margin: 2rem;
    width: 100%;
    flex: 1;
}

.minecraft-section {
    margin: 3rem;
}

h1 {
    background: linear-gradient(90deg, rgba(149, 0, 255, 1) 0%, rgba(255, 0, 0, 1) 50%);
    background-clip: text;
    color: transparent;
    font-size: 2.5rem;
}

.skills ul {
    list-style: none; /* Remove default bullets */
    padding: 0;
    margin: 0;
}

.skills li {
    display: flex; /* Flex layout */
    align-items: center; /* Vertically align items */
    padding: 5px 0; /* Add space between list items */
}

.skills li span {
    white-space: nowrap; /* Prevent ratings from wrapping */
    margin-left: 1rem; /* Add spacing after dashes */
}

.server-ip {
    color: #007bff;
}

.schedule img {
    width: 50vw;
    height: auto;
    border-radius: 25px;
    margin: 1.5rem;
}




@media (max-width: 800px) {

    .long_logo {
        align-items: center;
        width: 256px;
        height: auto;
    }

    header {
        text-align: center;
        padding: 0.5rem 0.1rem;
    }

    .nav a {
        padding: 1px;
        font-size: 20px;
    }

    .container {
        text-align: center;
        padding: 1rem 2rem;
    }

    h1 {
        text-align: center;
        font-size: 1.5rem;
    }

    .main {
        margin: 0.5rem;
        width: 100%;
    }

    .about-me {
        text-align: left;
        padding: 1rem;
        font-size: 15px;
        line-height: 20px;
    }

    .minecraft-section {
        text-align: left;
        padding: 1rem;
    }

    .discord {
        text-align: left;
        padding: 0.5rem;
        margin: 1rem;
        font-size: 15px;
        line-height: 25px;
    }

    .skills ul {
        list-style: none; /* Remove default bullets */
        padding: 0;
        margin: 0;
    }
    
    .skills li {
        display: flex; /* Flex layout */
        align-items: center; /* Vertically align items */
        padding: 5px 0; /* Add space between list items */
    }
    
    .skills li span {
        white-space: nowrap; /* Prevent ratings from wrapping */
        margin-left: 1rem; /* Add spacing after dashes */
    }

    .skills {
        font-size: 15px;
        line-height: 20px;
        text-align: left;
        padding: 0.5rem;
        margin: 1rem;
    }

    .Banner {
        width: 256px;
        height: 64px;
        object-fit: cover;
        border-radius: 20px;
        pointer-events: none;
    }

    .privacy-policy {
        text-align: left;
    }

    .terms-of-service {
        text-align: left;
    }

    .social-page-icons img {
        height: 50px;
        width: 50px;
        margin: 10px 1px;
        padding: 20px;
    }

    .socials h1 {
        font-size: 1.5rem;
    }

    .minecraft-section {
        margin: 1rem;
        padding: 0;
        font-size: 15px;
        line-height: 25px;
    }

    .theme-switch {
        margin: 3rem 0.1rem;
    }

    .discordinvite {
        font-size: 15px;
        padding: 0.5rem;
    }

    .discord  {
        text-align: left;
    }
    
    h3 {
        text-align: center;
        font-size: 1.2rem;
    }

    .schedule img {
        width: 70vw;
    }

}